[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/djn/.config/alacritty/themes"]
	path = /home/djn/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
